<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwExceptions="false"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Database"/>
  </extensions>

  <targets>
    <!--error日志-->
    <target name="ErrorFile" xsi:type="File"
             fileName="${basedir}/NLog/Error/${shortdate}.log"
             layout="${newline}=======================================================================
             ${newline} 【当前时间】: ${date:format=yyyy-MM-dd HH\:mm\:ss}
             ${newline} 【 级 别 】：${level}                             
             ${newline} 【 行 数 】：${callsite-linenumber}                
             ${newline} 【 方 法 】：${callsite:className=true:methodName=true:skipFrames=1}                                                 
             ${newline} 【Message】：${message}
             ${newline} 【 堆 栈 】： ${stacktrace}
             ${newline} 【 线 程 】： ${threadname}  
             ${newline} 【 名 称 】： ${machinename}
             ${newline} 【 程序域基础目录 】： ${basedir}"
             archiveFileName="${basedir}/NLog/Error/log.{#}.txt"
             archiveNumbering="DateAndSequence"
             archiveAboveSize="10485760"
             archiveDateFormat="yyyyMMdd"
             maxArchiveFiles="30" />

    <!--info日志-->
    <target name="InfoFile" xsi:type="File"
             fileName="${basedir}/NLog/Info/${shortdate}.log"
             layout="${longdate} ${newline} ${message}"
             archiveFileName="${basedir}/NLog/Info/log.{#}.txt"
             archiveNumbering="DateAndSequence"
             archiveAboveSize="10485760"
             archiveDateFormat="yyyyMMdd"
             maxArchiveFiles="30" />

    <!--debug日志-->
    <target name="DebugFile" xsi:type="File"
            fileName="${basedir}/NLog/Debug/${shortdate}.log"
            layout="${longdate} ${newline} ${message}"
            archiveFileName="${basedir}/NLog/Debug/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10485760"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30" />

    <!--控制台输出-->
    <target name="Console" xsi:type="Console"
            layout="${longdate} [${level}] ${logger}: ${message} ${exception:format=tostring}" />
    
    <!--记录到数据库 - 修复版本-->
    <target name="Database" xsi:type="Database" 
            dbProvider="MySqlConnector.MySqlConnection, MySqlConnector"
            connectionString="Server=rm-wz9hmzrjuip6f1mtbvo.mysql.rds.aliyuncs.com;Port=3306;Database=ts;Uid=luokun;Pwd=1xMrwxAMz2aXv37Je;Allow User Variables=true;Connection Timeout=30;">
      <commandText>
        INSERT INTO loginfo
        (application, machineName, logged, level, message, logger, callsite, exception)
        VALUES (@application, @machineName, @logged, @level, @message, @logger, @callsite, @exception);
      </commandText>
      <parameter name="@application" layout="SocialMedia.Admin" />
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@logged" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:format=tostring}" />
    </target>

    <!--任务服务专用数据库日志 - 使用现有task_logs表-->
    <target name="TaskDatabase" xsi:type="Database" 
            dbProvider="MySqlConnector.MySqlConnection, MySqlConnector"
            connectionString="Server=rm-wz9hmzrjuip6f1mtbvo.mysql.rds.aliyuncs.com;Port=3306;Database=ts;Uid=luokun;Pwd=1xMrwxAMz2aXv37Je;Allow User Variables=true;Connection Timeout=30;">
      <commandText>
        INSERT INTO task_logs
        (task_id, task_name, task_run_id, log_level, message, exception, execution_time, user_count, success_count, failed_count, api_calls, machine_name, thread_id, logger_name, callsite, created_at)
        VALUES (@task_id, @task_name, @task_run_id, @log_level, @message, @exception, @execution_time, @user_count, @success_count, @failed_count, @api_calls, @machine_name, @thread_id, @logger_name, @callsite, @created_at);
      </commandText>
      <parameter name="@task_id" layout="${event-properties:TaskId}" />
      <parameter name="@task_name" layout="${event-properties:TaskName}" />
      <parameter name="@task_run_id" layout="${event-properties:TaskRunId}" />
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@execution_time" layout="${event-properties:ExecutionTime}" />
      <parameter name="@user_count" layout="${event-properties:UserCount}" />
      <parameter name="@success_count" layout="${event-properties:SuccessCount}" />
      <parameter name="@failed_count" layout="${event-properties:FailedCount}" />
      <parameter name="@api_calls" layout="${event-properties:ApiCalls}" />
      <parameter name="@machine_name" layout="${machinename}" />
      <parameter name="@thread_id" layout="${threadid}" />
      <parameter name="@logger_name" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@created_at" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
    </target>

    <!--任务服务文件日志-->
    <target name="TaskFile" xsi:type="File"
            fileName="${basedir}/NLog/Task/${shortdate}.log"
            layout="${longdate} [${level}] [${event-properties:TaskName}] ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/NLog/Task/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10485760"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <!-- 任务服务关键日志 - 错误时同时输出到控制台 -->
    <logger name="TaskService.Critical" minlevel="Error" writeTo="TaskDatabase,Console" />
    <logger name="TaskService.Critical" minlevel="Info" maxlevel="Warn" writeTo="TaskDatabase" final="true" />
    
    <!-- 任务服务详细日志 -->
    <logger name="TaskService.*" minlevel="Debug" writeTo="TaskFile" final="true" />
    
    <!-- 数据库日志 - 错误时输出到控制台 -->
    <logger name="DatabaseLogger" minlevel="Error" writeTo="Database,Console" />
    <logger name="DatabaseLogger" minlevel="Info" maxlevel="Warn" writeTo="Database" />
    
    <!-- 错误日志 - 同时输出到文件和控制台 -->
    <logger name="*" minlevel="Error" writeTo="ErrorFile,Console" />
    
    <!-- 控制台只显示Warning及以上级别 -->
    <logger name="*" minlevel="Warn" writeTo="Console" />
    
    <!-- 信息日志 -->
    <logger name="*" minlevel="Info" writeTo="InfoFile" />
    
    <!-- 调试日志 -->
    <logger name="*" minlevel="Debug" writeTo="DebugFile" />
  </rules>
</nlog>
