<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwExceptions="true"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!--error日志-->
    <target name="ErrorFile" xsi:type="File"
             fileName="${basedir}/NLog/Error/${shortdate}.log"
             layout="${newline}=======================================================================
             ${newline} 【当前时间】: ${date:format=yyyy-MM-dd HH\:mm\:ss}
             ${newline} 【 级 别 】：${level}                             
             ${newline} 【 行 数 】：${callsite-linenumber}                
             ${newline} 【 方 法 】：${callsite:className=true:methodName=true:skipFrames=1}                                                 
             ${newline} 【Message】：${message}
             ${newline} 【 堆 栈 】： ${stacktrace}
             ${newline} 【 线 程 】： ${threadname}  
             ${newline} 【 名 称 】： ${machinename}
             ${newline} 【 程序域基础目录 】： ${basedir}"
             archiveFileName="${basedir}/NLog/Error/log.{#}.txt"
             archiveNumbering="DateAndSequence"
             archiveAboveSize="10485760"
             archiveDateFormat="yyyyMMdd"
             maxArchiveFiles="30" />

    <!--info日志-->
    <target name="InfoFile" xsi:type="File"
             fileName="${basedir}/NLog/Info/${shortdate}.log"
             layout="${longdate} ${newline} ${message}"
             archiveFileName="${basedir}/NLog/Info/log.{#}.txt"
             archiveNumbering="DateAndSequence"
             archiveAboveSize="10485760"
             archiveDateFormat="yyyyMMdd"
             maxArchiveFiles="30" />

    <!--debug日志-->
    <target name="DebugFile" xsi:type="File"
            fileName="${basedir}/NLog/Debug/${shortdate}.log"
            layout="${longdate} ${newline} ${message}"
            archiveFileName="${basedir}/NLog/Debug/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10485760"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30" />

    <!--api日志-->
    <target name="ApiFile" xsi:type="File"
            fileName="${basedir}/NLog/ApiInfo/${shortdate}.log"
            layout="${longdate} ${newline} ${message}"
            archiveFileName="${basedir}/NLog/ApiInfo/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10485760"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30" />

    <!--控制台输出-->
    <target name="Console" xsi:type="Console"
            layout="${longdate} ${message}" />
    
    <!--记录到数据库-->
    <target name="Database" xsi:type="Database" 
            dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" 
            connectionString="Server=rm-wz9hmzrjuip6f1mtbvo.mysql.rds.aliyuncs.com;Port=3306;Database=ts;Uid=luokun;Pwd=1xMrwxAMz2aXv37Je;Allow User Variables=true;Pooling=true;Min Pool Size=5;Max Pool Size=100;Connection Timeout=30;Command Timeout=30;">
      <commandText>
        INSERT INTO loginfo
        (application,machineName,logged, level, message, logger,callsite,exception)
        values (@application,@machineName, @logged, @level, @message,@logger, @callsite, @exception);
      </commandText>
      <parameter name="@application" layout="LTtrip.Web.Admin" />
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- 数据库日志 -->
    <logger name="DatabaseLogger" minlevel="Error" writeTo="Database,Console" />
    
    <!-- 错误日志 - 同时输出到文件和控制台 -->
    <logger name="ErrorLogger" minlevel="Error" writeTo="ErrorFile,Console" />
    
    <!-- 其他日志 -->
    <logger name="InfoLogger" minlevel="Info" writeTo="InfoFile" />
    <logger name="DebugLogger" minlevel="Info" writeTo="DebugFile" />
    <logger name="ApiLogger" minlevel="Info" writeTo="ApiFile,Console" />
    
    <!-- 所有Error级别及以上的日志都输出到控制台 -->
    <logger name="*" minlevel="Error" writeTo="Console" />
  </rules>
</nlog>
